/* 
    The best stylesheet ever made
*/

body {
    background-color: #aeb2c3;
    color: black;
    font-family: monospace;
}

.content {
    border-color: #664877;
    border-width: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #e7d4f2;
    padding: 2%;
    transition: transform 0.2s;
}


.content:hover {
    transform: scale(1.1);
    background-color: #efdef8;
    font-weight: bold;
    font-size: 15px;
}

img {
    border: 2px solid #730080;
}

select {
    border-width: 2px;
    border-color: rgb(50, 0, 104);
    background-color: #d6caf1;
}

hr {
    width: 75%;
    border-top-color: #e2b0ff;
    border-bottom-color: #664877;
}

h1 {
    text-shadow: 2px 3px 5px #ac8bc0;
}

input, textarea {
    border-width: 2px;
    border-color: rgb(50, 0, 104);
    background-color: #d6caf1;
}

input:hover, textarea:hover {
    background-color: #c3acf8;
}

input:disabled, textarea:disabled {
    background-color: #ffb4b4;
}

a {
    color: #664877;
}

a:hover {
    color: #835c9a;
    font-weight: bold;
}

button {
    background-color: #835c9a;
    color: #e2b0ff;
}

button:hover {
    background-color: #9776aa;
    color: #f0d6ff;
    font-weight: bold;
}

button:disabled {
    background-color: #ffb4b4;
    color: #ff4444;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

textarea {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}