/* Yotsuba CSS */

body {
    background: #ffe url('yots.png') repeat-x 50% 0%;
	  color: #800000;
    font-family: monospace;
    word-wrap: break-word; 
}

img {
    border: 2px solid #800000;
}

textarea {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.content {
    border-color: #e58168;
    border-width: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #f2d4d4;
    padding: 2%;
    transition: transform 0.2s;
}

.content:hover {
    transform: scale(1.1);
    background-color: #fae4e4;
    font-weight: bold;
    font-size: 15px;
}

select {
    border-width: 2px;
    border-color: rgb(50, 0, 104);
    background-color: #f1caca;
}

hr {
    width: 75%;
    border-top-color: #ffb0b0;
    border-bottom-color: #774848;
}

h1 {
    text-shadow: 2px 3px 5px #c88e8e;
}

input, textarea {
    border-width: 2px;
    border-color: rgb(104, 0, 0);
    background-color: #f1caca;
}

input:hover, textarea:hover {
    background-color: #f8acac;
}

input:disabled, textarea:disabled {
    background-color: #ff4d4d;
}

a {
    color: #774848;
}

a:hover {
    color: #9a5c5c;
    font-weight: bold;
}

button {
    background-color: #9a5c5c;
    color: #ffb0b0;
}

button:hover {
    background-color: #aa7676;
    color: #ffd6d6;
    font-weight: bold;
}

button:disabled {
    background-color: #ff7f7f;
    color: #ff4242;
}


textarea {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}